* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  }
.word-game-page {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    grid-template-areas:
    "header"
    "info-bar"
    "game";
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
    padding: 5px;
    margin: 10px;
}

.header-title{
  font-size: 46px
}
.info-bar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
@keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
.spiral{
    font-size: 40px;
    animation: spin 1.5s linear infinite;
}

.hidden {
    visibility: hidden;
  }
  .game {
      display: grid;
      height: 420px;
      width: 380px;
      margin: 10px auto;
      align-items: center;
      justify-content: center;
      grid-template-columns: 1fr;
      grid-template-areas:
      "row"
      "row"
      "row"
      "row"
      "row"
      "row";
  }
  .row {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "square" "square" "square" "square" "square";
  }
  .square {
    border: 4px solid #ccc;
    height: 60px;
    width: 60px;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    text-transform: uppercase;

  }

  .invalid {
    animation: flash 1s;
  }

  @keyframes flash {
    5% {
      border-color: crimson;
    }
  
    100% {
      border-color: #ccc;
    }
  }
  

  .close{
    color: white;
    background-color: rgb(226, 166, 14)
  }

  .worng{
    color: white;
    background-color: rgb(132, 130, 130);
  }

  .correct {
    color: white;
    background-color: rgb(21, 156, 21);
  }

  @keyframes rainbow {
    100%,
    0% {
      color: rgb(255, 0, 0);
    }
    8% {
      color: rgb(255, 127, 0);
    }
    16% {
      color: rgb(255, 255, 0);
    }
    25% {
      color: rgb(127, 255, 0);
    }
    33% {
      color: rgb(0, 255, 0);
    }
    41% {
      color: rgb(0, 255, 127);
    }
    50% {
      color: rgb(0, 255, 255);
    }
    58% {
      color: rgb(0, 127, 255);
    }
    66% {
      color: rgb(0, 0, 255);
    }
    75% {
      color: rgb(127, 0, 255);
    }
    83% {
      color: rgb(255, 0, 255);
    }
    91% {
      color: rgb(255, 0, 127);
    }
  }
  .win {
    animation: rainbow 4s infinite linear;
  }